.me-pic {
  max-width: 60%;
  max-height: 150%;
  margin: 3%
}

.name-title {
  font-size: 4vw;
  margin: 3% 0%;
}

/* p {
  margin: 2% 6% 
} */

.about-me {
  font-size: 1.9vw;
  margin: 2%
}

.email {
  font-size: 2vw;
}
