.card {
  /* background-color: white;
  /* border-color: rgb(251,63,65); */
  /* border-radius: 10px; */ 
  display: flex;
  flex-direction: column;
}

.project-img {
  max-width: 85%;
  margin: 10% 3% 3% 3%;
}


div.title {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
}


.description {
  font-size: 2vw;
  padding: 0 4%;
  /* text-align: justify; */
  /* padding: 4% 0% */
}

.tools {
  font-size: 2vw;
  margin: 4%;
}



/* div.container {
  display: grid;
  margin: 2px;
  grid-template-columns: 50% 50%;
} */

.container.links {
  font-size: 2.2vw;
  font-weight: bold;

}

a {
  color: black;
}

a:hover {
  color: rgb(251,63,65)
}

