.card {
  /* background-color: white;
  /* border-color: rgb(251,63,65); */
  /* border-radius: 10px; */ 
}


img {
  width: 92%;
  margin: 4%;
  /* border-color: rgb(251,63,65);
  border-radius: 5px; */
}

.title {
  text-align: center;
  font-weight: bold;
  /* border-color: rgb(251,63,65);
  border-radius: 5px; */
}

.img.title {
  /* margin: 5px; */
  /* background-color: white; */

}

.bottom {
  /* background-color: white; */
  padding: 4%;
  /* border-color: rgb(251,63,65);
  border-radius: 5px; */
}

.description {
  font-size: 14px;
  text-align: justify;
  /* padding: 4% 0% */
}

.tools {
  font-size: 14px;
  /* margin-top:4%;
  margin-bottom: 4%; */
  padding-top: 6% 
}

div.container {
  display: grid;
  margin: 2px;
  grid-template-columns: 50% 50%;
}

.container.links {
  font-size: 14px;
  font-weight: bold;
  padding-top: 4%;
  position: relative;
}

a {
  color: black;
}

a:hover {
  color: rgb(251,63,65)
}

