body {
  background-color: rgb(251,63,65);
}

form {
  width: 30%;
  height: 56%;
  /* border-radius: 4px;
  position: relative;
  transition: 0.3s all; */
  margin: 0px auto;
}

form label {
  padding: 0px 16px;
  margin: 5px;
}

form input {

  width: 80%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border-width: 1px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-color: black ;
  color: black;
  margin: 5%;
  

}

/* input:hover {
  box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-color: black ;
  border-width: 3px ;
  /* border: 3px solid transparent */
/* }  */


input:focus {
  border-color: black;
}

/* input.textarea {
  height: 150px;
  width: 100%
} */

input.submit {
  /* margin: auto */
  /* padding: auto */
  color: white;
  background-color: black;
  cursor: pointer;
}

input.submit:hover {
  /* color: rgb(251,63,65); */
}

textarea {
  height: 150px;
  width: 100%;
  position: relative;
  padding: 0px 16px;
  padding-top: 9%;
  border-width: 1px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-color: black ;
  color: black;
  margin: 5%;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;
  top:-7px;
}



h3 {
  font-size: 500%;
  margin: 30px auto;
}