/* body {
  background-color: rgb(251,63,65);
} */

form {
  width: 90%;
  height: 56%;
  /* border-radius: 4px;
  position: relative;
  transition: 0.3s all; */
  margin: 50px auto;
}

form label {
  margin: 5px 0px;
}

form input {

  width: 80%;
  height: 56px;
  /* position: relative; */
  padding: 0px 16px;
  border-width: 1px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-color: black ;
  color: black;
  margin: 5%;
  
}

input:focus {
  border-color: black;
}

input.submit {
  color: white;
  background-color: black;
  cursor: pointer;
}


textarea {
  height: 150px;
  width: 80%;
  /* position: relative; */
  padding: 0px 16px;
  padding-top: 9%;
  border-width: 1px ;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-color: black ;
  color: black;
  margin: 5%;
  
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  /* position:relative; */
  top:-7px;
}



h3 {
  font-size: 500%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

 /* .left {
  left: 0;
  background-color:white;
}

/* Control the right side */
/* .right {
  right: 0;
  background-color:rgb(251, 63, 65);
}  */

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* line-height: 1.6; */
  font-weight: 600;
}

p {
  font-size: 16px;
  color: black
}

.hero {
  /* color: rgb(251,63,65); */
  margin: 0
}