/* .navlist-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: green;
}

.navlist {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
} */

