.nav-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* background-color: rgb(35, 57, 37); */
  background-color:  rgb(251, 63, 65);
  outline: 10px solid #233925;
  outline-offset: 0px;
}

.nav-links-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-text{
  color: black;
  margin: 2%;
  font-size: 2vw;
}

.nav-homepage{
  width: 30%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  /* padding-left: 50%; */
}


.name{
  font-size: 2.0vw;
}

.nav-logo{
  height: 5vw;
  margin: 3%
}

li{
  list-style-type: none;
}

.nav-logo-link{
  width: 50%;
  font-size: 2vw;
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
