
/* @media all and (max-width: 1000px){
  .project-card {
    width: 45%;
  }

  .projects-container {
    align-content: flex-start;
  }
}

@media all and (max-width: 700px){
  .project-card {
    width: 80%;
  }
  div.title {
    font-size: 4vw;
  }
} */

