
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1, h2, h3, a, li, marquee, .marquee{
  font-family: 'B612';
}

p{
  font-family: 'Open Sans'
}

body {
  margin: 0;
  font-family: 'B612', sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251,63,65);
}

